<!-- About -->
  <section class="page-section" id="{{ site.data.sitetext[site.locale].about.section}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">{{site.data.sitetext[site.locale].about.title}}</h2>
                    <br> <br>
                </div>
                <div class="col-md-3 panel">
                    <img src="./assets/img/port.png" width="100%">
                    <br><br>
                    Zheng Yanan<br>
                    Department of Computer Science<br>
                    Tsinghua University
                    <br>
                    Email: <a href="mailto:zyanan93@gmail.com">zyanan93@gmail.com</a>
                </div>
                <div class="col-md-9">
                    I'm currently a postdoc at the department of computer science of Tsinghua University.
                    <br><br>
                    In 2020, I obtained my PhD degree from the School of Software, Tsinghua University. Prior to that, in 2015, I received my batchelor's degree from Xi'an Jiaotong University.
		            <br><br>
                    I am a former research intern at Microsoft Research Asia (MSRA). I received Google China Anita Borg Scholarship.
                    <br><br>
                    My research interests mainly focus on natural language-based intelligence, which includes deep learning, natural language understanding and generation.
		            <br><br>
                    My dissertation research is Theories and Applications of Natural Language-based Dialogue Interaction. I have been studying algorithms, models and technologies using deep learning methods, especially deep generative models, to make dialogue systems behave more intelligently. It mainly includes three aspects: (1) developing algorithms and models to meet the basic requirements of dialogues, such as informative-ness and consistency; (2) exploring high-level cognitive patterns of dialogues, e.g., emotional/sentimental interaction and topic continuity; (3) enhancing interactivity and manipulation of dialogue systems, e.g., controllable dialogue generation and multi-turn dialogue management.
                    <br><br>
                    Here is my <a href="https://www.dropbox.com/s/790rq51odfsvakx/CV-update-1.pdf?dl=0">CV</a>.
                    <br>
                </div>
            </div>
        </div>
  </section>
<!-- End About -->




