<!-- Publications -->
  <section class="page-section" id="{{ site.data.sitetext[site.locale].publications.section}}">
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].publications.title}}</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>



                <div class="row">
                    <div class="col-md-1 text-muted text-left">04/2021</div>
                    <div class="col-md-10 text-muted">
                        <b>Generating Contextually Coherent Responses by Learning Structured Vectorized Semantics</b>
                        accepted at <a target="_blank" href="http://dm.iis.sinica.edu.tw/DASFAA2021/">DASFAA2021</a>.
                        </br><i> Yanan Zheng, Yan Wang, Lijie Wen, and Jianmin Wang. </i>
                    </div>
                    <div class="col-md-1 text-muted">
                        [<a target="_blank" href="">PDF</a>]
                        [<a target="_blank" href="">Code</a>]
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1 text-muted text-left">09/2020</div>
                    <div class="col-md-10 text-muted">
                        <b>How to Generate Reasonable Texts with Controlled Attributes </b>
                        accepted at <a target="_blank" href="http://db.pknu.ac.kr/dasfaa2020/">DASFAA2020</a>.
                        </br><i> Yanan Zheng, Yan Wang, Lijie Wen, and Jianmin Wang. </i>
                    </div>
                    <div class="col-md-1 text-muted">
                        [<a target="_blank" href="">PDF</a>]
                        [<a target="_blank" href="">Code</a>]
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1 text-muted text-left">02/2020</div>
                    <div class="col-md-10 text-muted">
                        <b>Solving Sequential Text Classification as Board-Game Playing</b>
                            accepted at <a target="_blank" href="https://aaai.org/Conferences/AAAI-20/">AAAI2020</a>.
                        </br><i> Yanan Zheng, Yan Wang, Lijie Wen, and Jianmin Wang. </i>
                    </div>
                    <div class="col-md-1 text-muted">
                        [<a target="_blank" href="">PDF</a>]
                        [<a target="_blank" href="">Code</a>]
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1 text-muted text-left">11/2019</div>
                    <div class="col-md-10 text-muted">
                        <b>Latent-Constrained Variational Neural Dialogue Model for Information-Rich Responses</b>
                            accepted at <a target="_blank" href="http://www.cikm2019.net">CIKM2019</a>.
                        </br><i> Yanan Zheng, Yan Wang, Lijie Wen, and Jianmin Wang. </i>
                    </div>
                    <div class="col-md-1 text-muted">
                        [<a target="_blank" href="">PDF</a>]
                        [<a target="_blank" href="">Code</a>]
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 text-muted text-left">11/2017</div>
                    <div class="col-md-10 text-muted">
                        <b>Sequence Modeling with Hierarchical Deep Generative Models with Dual Memory</b>
                        accepted at <a target="_blank" href="http://www.cikmconference.org/CIKM2017/">CIKM2017</a>.
                        </br><i> Yanan Zheng, Yan Wang, Lijie Wen, and Jianmin Wang. </i>
                    </div>
                    <div class="col-md-1 text-muted">
                        [<a target="_blank" href="">PDF</a>]
                        [<a target="_blank" href="">Code</a>]
                    </div>
                </div>
                <br>

        </div>
  </section>